html, body {
    position: relative;
    height: 100%;
  }
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }